body {
    background-color: rgb(208, 208, 208);
    height: 1200px;
    margin: 0;
}

p {
    font-family: Roboto, Arial;
}

.icon {
    height: 14px;
    display: inline-block;
}

.header {
    background-color: rgb(175, 175, 175);
    height: 100px;
    margin: 0;
    box-shadow: 0 30px 40px rgba(175, 175, 175, 1);
}

.header-text {
    text-align: center;
    font-family: VT323;
    font-size: 70px;
    color: white;
    margin: 0;
}

.potion-panel-container {
    display: flex;
    height: 275px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.potion-panel {
    display: grid;
    justify-content: center;
    grid-template-rows: 40px 120px 20px 70px;
    height: 300px;
    width: 125px;
    min-width: 200px;
    background-color: rgb(131, 131, 131);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    transition: box-shadow 0.25s;
    border-radius: 50px;
}

.potion-panel:hover {
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.potion-name {
    font-weight: 700;
    font-size: 15px;
    border-color: white;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

.potion-image {
    width: 120px;
    height: 120px;
    padding-left: 25px;
}

.potion-berries-text {
    font-weight: 500;
    padding-left: 5px;
    margin: 0;
    text-align: center;
}

.potion-description {
    font-weight: 300;
    display: inline;
    font-family: Roboto;
    font-size: 14px;
    display: block;
    margin: 0;
    max-width: 170px;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(175, 175, 175);
    border-top: black;
    border-top-width: 1px;
    border-top-style: solid;
}

.berry-button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    height: 100px;
    width: 100px;
    border-width: 0;
    border-radius: 20px;
    background-color: rgb(233, 233, 233);
    transition: background-color 0.25s;
}

.berry-image {
    display: inline-block;
    padding: 0;
    height: 80px;
    margin: 0;
}

.berry-text {
    display: block;
    font-weight: 500;
    margin: 0;
    font-size: 12px;
    color: black;
}

.berry-button:hover {
    cursor: pointer;
    background-color: yellow;
    
}

.luck-text {
    color: rgb(54,207,68);
}

.hp-text {
    color: rgb(231, 76, 60);
}

.max-hp-text {
    color: rgb(255, 162, 162);
}

.walkspeed-text {
    color: rgb(83, 255, 99);
}

.jumppower-text {
    color: rgb(159, 124, 255);
}

.defense-text {
    color: rgb(93, 173, 226);
}

.strength-text {
    color: rgb(247, 220, 111);  
}

.circuits-text {
    color: rgb(71, 186, 71);
}